@model IEnumerable<Eticaret.Models.Blog>

@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<h1>Blog</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FotoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogMetni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogYazari)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <img src="@item.FotoPath" style="width:500px;height: 250px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogMetni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogYazari)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BlogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BlogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BlogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
